apiVersion: v1
kind: Service
metadata:
  name: "{{ item.name }}"
spec:
  {% if item.selector is defined %}
  selector:
    app: MyApp
  {% endif %}
  {% if item.ports is defined %}
  {% for port in item.ports %}
  ports:
  - protocol: "{{ port.protocol }}"
    port: "{{ port.port }}"
    targetPort: "{{ port.targetPort }}"
  {% endfor %}
  {% endif %}
